[Unit]
Description=BrewPi custom service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/rob
User=rob
ExecStart=/usr/bin/startx /home/rob/main.py

[Install]
WantedBy=multi-user.target
